@use "../../styles/index" as *;

.headerMenu {
  color: #070707;
  display: grid;
  padding: 50px;
  align-items: center;

  h5 {
    font-family: "Tomorrow", serif;
    grid-row: 1;
    grid-column: 1;
  }

  .headerMenu_button {
    grid-row: 1;
    grid-column: 5;
    @include button-styles;
  }
}

.headerMenu_navigation {
    grid-row: 1;
    grid-column: 2/4;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    font-weight: 400;
    li {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
