@use "../../styles/index" as *;

.main-cover {
  h1 {
    margin: 50px 80px 20px 50px;
    @include general-header;
  }
  .main-cover_description {
    @include general-description;
  }

  .main-cover_baner {
    position: relative;
    margin: 50px;
    display: grid;
    gap: 20px;
    align-items: center;
    @include respond-to(xSmall) {
      margin: 10px;
    }

    .main-cover_baner_img {
      grid-row: 1;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }

    span {
      @include text-on-img();
    }

    .main-cover_baner_img:first-child {
      grid-column: 1;
      img {
        border-radius: 15px 15px 15px 100px;
      }
      span {
        top: 10%;
        left: 10%;
      }
    }

    .main-cover_baner_img:nth-child(2) {
      grid-column: 2/4;
      img {
        border-radius: 100px 15px 100px 15px;
      }
      span {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }

    .main-cover_baner_img:last-child {
      grid-column: 4;
      img {
        border-radius: 15px;
      }
      span {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }

    h6 {
      font-size: 30px;
      font-weight: 600;
      margin: 0;
      @include respond-to(medium) {
        font-size: 22px;
      }
      @include respond-to(small) {
        font-size: 14px;
      }
    }
  }
  .main-cover_desription {
    background-color: #f6f6f6;
    color: #000000;
    padding: 30px 100px;
    font-size: 36px;
    line-height: 2;
    text-align: center;
    @include respond-to(medium) {
      font-size: 26px;
    }
    @include respond-to(small) {
      font-size: 20px;
      padding: 20px 50px;
    }
    @include respond-to(medium) {
      font-size: 16px;
      padding: 10px 30px;
    }
    img {
      max-height: 44px;
      border-radius: 20px;
      padding: 0 10px;
      vertical-align: middle;
      @include respond-to(medium) {
        max-height: 38px;
      }
      @include respond-to(small) {
        max-height: 30px;
      }
      @include respond-to(small) {
        max-height: 26px;
      }
    }
  }
}
